body{
background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&w=1000&q=80);
background-size: cover;

}

ul:hover{
border:4px solid cadetblue;
text-align: center;
list-style: none;
cursor: cell;

}
.Yep{

    color:plum;
    text-align: center;
    text-decoration:underline;
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
    font-weight: bold;
}

p,h2{

    text-align: center;
    text-decoration:unset;
    color:teal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}
